<hello name="{{ name }}"></hello>
<p>
  Clicking on items toggles their selection, single arrow buttons move the selected items, double-arrows move all items
</p>
<div class="container">
  <ul>
    LIST 1
    <li 
      *ngFor="let item of list1" 
      [class.item-selected]="item.selected"
      (click)="toggleSelection(item, 1)">{{item.text}}</li>
  </ul>
  <div class="buttons-container">
  <button kendoButton [icon]="'arrow-60-right'" (click)="moveSelected('right')"></button>
  <button kendoButton [icon]="'arrow-double-60-right'" (click)="moveAll('right')"></button>
  <button kendoButton [icon]="'arrow-60-left'" (click)="moveSelected('left')"></button>
  <button kendoButton [icon]="'arrow-double-60-left'" (click)="moveAll('left')"></button>
  </div>
  <ul>
    LIST 2
    <li 
      *ngFor="let item of list2" 
      [class.item-selected]="item.selected"
      (click)="toggleSelection(item, 2)">{{item.text}}</li>
  </ul>
</div>